# Python Assignment: Data Structures, Functions, Numpy & Pandas

## Section A: Data Structures & Control Structures

### 1. Creating a list of five integers and printing the result of each operation: append, extend, insert, remove, pop, index, count, sort, reverse and clear.

In [ ]:
numbers = [50,40,30,20,10]
print(f"Original List: {numbers}")

In [ ]:
# Append used to add an element.
numbers.append("Alpha")
print(f"After Append{numbers}")

In [ ]:
# Extend used to add multiple elements.
numbers.extend(["Alpha","Alpha","Beta","Sigma"])
print(f"After Extend{numbers}")

In [ ]:
# Insert used to add an element at specific position.
numbers.insert(8,"Gamma") # inserting "Gamma" at index 8
print(f"After Insert{numbers}")

In [ ]:
# Count used to count the number of occurrences of a value in a list.
numbers.count("Alpha")

In [ ]:
# Sort used to sort elements in order.
numbers.sort(key=str) #key=str is used because my list contains strings.
print(numbers)

In [ ]:
# Reverse is used to reverse the sorted list.
numbers.reverse()
numbers

In [ ]:
# Index used to find an element.
numbers.index(50)

In [ ]:
# Remove used to remove an element.
numbers.remove("Gamma")
print(f"After Remove{numbers}")

In [ ]:
# Pop used to remove an element.
numbers.pop()     # removing last element
print(f"After Pop{numbers}")

In [ ]:
# Claer is used to empty the list.
numbers.clear()
numbers

### 2.	Creating a tuple that stores 3 student names & changing the second name in the tuple.

In [ ]:
# An error is occured because tuples are immutable.
Student_Names=("John","Mary","Peter") # Creating a tuple with three elements
Student_Names[2]="James" # Changing the second element of the tuple
print(Student_Names)

### 3.	Create a set of integers with some duplicate values. Print the set and explain the output.

In [ ]:
# Output Duplicates are disappear – when the set s is built, Python keeps only one copy of each value.(UNIQUE VALUES) but the ordering of those values is not guaranteed.
s = {9,9,8,8,8,7,6,5,4,3,2,1,2,3,4,5,6,7,8,19}
s

### 4. Creating a dictionary with the keys: 'name', 'age', and 'city'. Updating the age and adding a new key 'email'. Printing the final dictionary.

In [ ]:
# create the dictionary with three keys
details = {'name': 'Anna', 'age': 25, 'city': 'New York'}

# update the existing key 'age'
details['age'] = 26          # ← new age

# add a brand‑new key/value pair
details['email'] = 'anna123@email.com'

details

### 5. Writing a script that checks if a person is eligible to vote (age ≥ 18).using age as a variable and printing the appropriate message.

In [ ]:
# checking the person's eligibility for voting(userinput)
age = int(input("Enter your age: "))

# ----- Condition -----
if age >= 18:
    print("You are eligible to vote.")          # age 18 or older
else:
    print("You are not eligible to vote.")      # age below 18

### 6.	Given a 'marks' variable, print the grade:90 and above: 'A', 75–89: 'B' , 50–74: 'C' , Below 50: 'Fail'

In [ ]:
# Using marks to calulate the grade.(user_input)
marks = int(input("Enter the marks (0 ‑ 100): "))

if marks >= 90:                 # above 90
    grade = "A"
elif marks >= 75:              # 75‑89
    grade = "B"
elif marks >= 50:              # 50‑74
    grade = "C"
else:                          # anything below 50
    grade = "Fail"

print(f"Marks: {marks} → Grade: {grade}")

### 7.	Given a number, check if it's positive, and if it is also even. If not positive, print if it's zero or negative.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:     # to get positive numbers.
                # inside a positive block we can also test for evenness
    if num % 2 == 0:
        print("Positive and even")
    else:
        print("Positive but odd")
elif num == 0:  # not positive -- is zero
    print("Zero")
else:           # negative numbers
    print("Negative")

## Section B: Numpy

### 8.	Create:- A scalar using np.array(5) ,- A 1D array with values 1 to 5 , - A 2D array (2x3) with values from 10 to 60 in steps of 10

In [ ]:
import numpy as np # importing numpy library
# Scalar (0‑D array)
scalar = np.array(5)  # a single value inside a NumPy array
print("scalar :", scalar, " shape:", scalar.shape)

In [ ]:
# 1‑D array with values 1-5 
arr_1d = np.array([1, 2, 3, 4, 5])
print("1D_array :", arr_1d, " shape:",arr_1d.shape)

In [ ]:
# 2-D array with values from 10 to 60 in step of 10.
arr_2d = np.arange(10, 61, 10).reshape(2,3)
print("2D_array :", arr_2d," shape:",arr_2d.shape)

### 9.	Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint().

In [ ]:
import numpy as np 

rand_num = np.random.randint(0,101,size=(4,4)) # generating the random numbers in range (0,101)
print(rand_num)

### 10.	Create a 2D numpy array of shape (3x3). Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'.

In [ ]:
import numpy as np
import pandas as pd

# 3 × 3 NumPy array (here we just use 90‑99 for clarity)
a = np.arange(90,99).reshape(3, 3)      # shape = (3, 3)

# Converting into pandas DataFrame and adding the columns names as: A, B, C
df = pd.DataFrame(a, columns=['A', 'B', 'C'])
print(df)

## Section C: Exploring Pandas

### 11.	Create a small DataFrame manually with 10 rows and columns: 'Name', 'Age', 'City', and 'Salary'. Then:- Use .info(), .describe() , - Select 'Name' and 'City' columns , - Drop 'City' column ,- Fill any missing values in 'Salary' column with the mean , - Remove any duplicate rows.

In [ ]:
import numpy as np
import pandas as pd
# Creating a DataFrame with the given instruction.
df = pd.DataFrame({
    "Name"  : ["Alice","Bob","Carol","David","Eva","Frank","Grace","Hank","Ivy","Alice"],
    "Age"   : [23,34,29,42,31,27,38,45,26,23],
    "City"  : ["NY","Paris","Tokyo","Berlin","Sydney","London","Toronto","Dubai","Mumbai","NY"],
    "Salary": [56000, np.nan, 72000, 88000, 64000,48000, 73000, np.nan, 69000, 56000]})
df

In [ ]:
df.info() # Checking the information of DataFrame.

In [ ]:
df.describe() # Checking the description of DataFrame.

In [ ]:
df[["Name","City"]] # to get the columns "Name" and "City".

In [ ]:
df =df.drop(columns=["City"]) # To remove the column "City".
df

In [ ]:
mean_salary = df["Salary"].mean() # Calculating the mean of Salary for missing values.
df["Salary"] = df["Salary"].fillna(mean_salary)
df

In [ ]:
df = df.drop_duplicates().reset_index(drop=True) # Removing duplicate rows and resetting index.
df